vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
/app/Models/ManufactureManage/Outinputhead.php
/app/Models/ManufactureManage/Outinputitem.php
/app/Http/Controllers/ManufactureManage/OutputinfoController.php
/app/Models/ManufactureManage/Outputinfo.php
/database/migrations/2019_08_16_161152_create_outputinfos_table.php
/app/Http/Controllers/ManufuctureManage
